.markdown {
  overflow-wrap: break-word;
  width: 80%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  overflow-wrap: break-word;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown code {
  background: #121927;
  color: #9fef00;
}
